<footer class="footer-social">
    <div class="footer-copyright">
        <p class="theme-info">
            &copy;
            <% current = date(Date.now(), 'YYYY') %>
            <% if (config.since && config.since < current) { %>
                <%- config.since %>&nbsp;-&nbsp;
            <% } %>
            <%- current %>&nbsp;
			<a target="_blank" href="<%- config.url %>"><%- config.author %></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
			powered by <a target="_blank" href="https://hexo.io">hexo</a>&nbsp;&&nbsp;<a target="_blank" href="https://github.com/lazyrabb1t/hexo-theme-rabb">rabb</a>
        </p>
    </div>
</footer>
